{{template "header.html" .}}

<div id="postsContainer">
	<div id="posts">
		
		<div class="each-post">
		    <ul class="desc">
		        {{range $.archives}}
		        <span class="archive-year">{{$year := .Year}}</span>
		       
    		            {{range .MonthAchives}}
        		        
        		          <div class="archive-month" style="cursor:pointer"  onclick="showhide(event);">{{$year}}-{{.Month}}</div>
        		          <ul>
        		                {{range .Posts}}
        		                <li>
        		                    {{dateFormat .PublicTime "2006-01-02"}} <a class="archive-title" href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a>
        		                </li>
        		                {{end}}
        		           </ul>
        		            
        		        
        		        {{end}}
        		    
    		    
    		    {{end}}
		    </ul>
		</div>
	</div>
</div>

{{template "footer.html" .}}

</body>
<script>
     function showhide(e){
        var archiveYear = $(e.srcElement).next();
        console.log(archiveYear);
        if(archiveYear.is(':visible')){
            archiveYear.fadeOut(600);
        }else{
            archiveYear.fadeIn(600);
        }
    }
</script>
</html>